// html,
// body {
//   scroll-behavior: smooth;
// }

// html,
// body {
//   height: 100vh;
//   overflow: hidden;
// }

// .homepage {
//   overflow-y: scroll;
//   height: 100vh;
//   scroll-snap-type: y mandatory;
//   scroll-behavior: smooth;
// }

.page1 {
  .swiper {
    position: relative;
    height: 100vh;
    .swiper-slide {
      position: relative;
    }
  }
}

.social-buttons {
  transition: opacity 0.2s ease-in-out;
}
