* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 transparent !important;
  border: none;
}

input:-internal-autofill-selected {
  background: transparent !important;
  background-color: transparent !important;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px solid var(--chakra-colors-light);
  border-bottom: 1px solid var(--chakra-colors-light);
  -webkit-text-fill-color: var(--chakra-colors-light);
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.swiper {
  width: 100%;
  height: 100%;
}

.page1 {
  .swiper {
    background-color: var(--chakra-colors-dark);
    position: relative;
    .swiper-wrapper {
      transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
    }
    .swiper-slide {
      position: relative;
    }
  }
}

.page-services {
  .swiper {
    .swiper-slide {
      overflow-y: scroll;
    }
  }
}

.section-leaders {
  .swiper {
    overflow-y: visible;
    overflow-x: hidden;
  }
}

.animate-fade {
  transition: opacity 0.2s ease-in-out;
}

.opacity-100 {
  opacity: 1 !important;
}

.box-shadow {
  box-shadow: 4px 4px 8px 0px rgba(20, 19, 20, 0.5);
  -webkit-box-shadow: 4px 4px 8px 0px rgba(20, 19, 20, 0.5);
  -moz-box-shadow: 4px 4px 8px 0px rgba(20, 19, 20, 0.5);
}

.drop-shadow {
  svg {
    filter: drop-shadow(4px 4px 10px rgba(20, 19, 20, 0.5));
  }
}

.text-shadow {
  text-shadow: 4px 4px 10px rgba(20, 19, 20, 0.5);
}

.checkbox {
  display: flex;
  align-items: flex-start !important;
  .chakra-checkbox__control {
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    opacity: 0.6;
  }
  .chakra-checkbox__label {
    margin-left: 10px;
    opacity: 0.6;
    font-size: var(--chakra-fontSizes-sm);
    font-weight: 300;
  }
}

.card-text {
  color: rgba(255, 255, 255, 0.7) !important;

  b {
    color: #ffffff !important;
  }
}

.horizontal-scroll-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
  transform-origin: right top;
  // transform: rotate(-90deg) translateY(-100px);
  div {
    transform: rotate(90deg);
    // transform-origin: right top;
  }
}
